/* NOTE: this is made with online tool: https://www.junian.dev/markdown-resume/ */
/* NOTE: must set font manually in UI to 11px courier-new */

/* Backbone CSS for Resume Template 1 */

/* Profile Photo - adjust X and Y positions below */
:root {
  --photo-x: -0px;    /* horizontal position (positive = right, negative = left) */
  --photo-y: -35px;    /* vertical position (positive = down, negative = up) */
}

#vue-smart-pages-preview .profile-photo {
  float: right;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  margin-left: 0px;
  margin-bottom: 0px;
  border: 0px solid darkgray;
  transform: translate(var(--photo-x), var(--photo-y));
}

#vue-smart-pages-preview .header-with-photo::after {
  content: "";
  display: table;
  clear: both;
}

#vue-smart-pages-preview .header-with-photo {
  margin-bottom: calc(var(--photo-y) * -1 - 70px);
}

/* Basic */

#vue-smart-pages-preview {
  background-color: white;
  color: black;
  text-align: left;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#vue-smart-pages-preview p,
#vue-smart-pages-preview li,
#vue-smart-pages-preview dl {
  margin: 0;
}

/* Headings */

#vue-smart-pages-preview h1,
#vue-smart-pages-preview h2,
#vue-smart-pages-preview h3 {
  font-weight: bold;
}

#vue-smart-pages-preview h1 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 0.25em;
}

#vue-smart-pages-preview h2,
#vue-smart-pages-preview h3 {
  margin-bottom: 0.25em;
  margin-top: 1.0em;
  font-size: 1.2em;
}

#vue-smart-pages-preview h1,
#vue-smart-pages-preview h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: darkgrey;
}

/* Lists */

#vue-smart-pages-preview ul,
#vue-smart-pages-preview ol {
  padding-left: 1.5em;
  margin: 0.2em 0 1.0em 0;
}

#vue-smart-pages-preview ul {
  list-style-type: disc;
}

#vue-smart-pages-preview ol {
  list-style-type: decimal;
}

/* Definition Lists */

#vue-smart-pages-preview dl {
  display: flex;
}

#vue-smart-pages-preview dl dt,
#vue-smart-pages-preview dl dd {
  flex: 1;
  min-width: 0;
}

#vue-smart-pages-preview dl dd {
  padding: 0 5px;
}

/* Center only header contact info */
#vue-smart-pages-preview .header-with-photo dl dt,
#vue-smart-pages-preview .header-with-photo dl dd {
  text-align: center;
}

/* Center company, date, location (dd) while keeping job title (dt) left-aligned */
#vue-smart-pages-preview dl dt {
  text-align: left;
}

#vue-smart-pages-preview dl dd {
  text-align: center;
}

/* Tex */

#vue-smart-pages-preview :not(span.katex-display) > span.katex {
  font-size: 1em !important;
}

/* SVG & Images */

#vue-smart-pages-preview svg.iconify {
  vertical-align: -0.2em;
}

#vue-smart-pages-preview img {
  max-width: 100%;
}

/* Header */

#vue-smart-pages-preview .resume-header {
  text-align: center;
}

#vue-smart-pages-preview .resume-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

#vue-smart-pages-preview .resume-header-item:not(.no-separator)::after {
  content: " | ";
}

/* Citations */

#vue-smart-pages-preview ul.crossref-list {
  padding-left: 1.2em;
}

#vue-smart-pages-preview li.crossref-item p {
  margin-left: 0.5em;
}

#vue-smart-pages-preview li.crossref-item::marker {
  content: attr(data-caption);
}

#vue-smart-pages-preview sup.crossref-ref {
  font-size: 100%;
  top: 0;
}

/* Dark & print mode */

.dark #vue-smart-pages-preview {
  background-color: #334155;
  color: darkgrey;
}

@media print {
  #vue-smart-pages-preview {
    background-color: white !important;
    color: black !important;
  }

  .dark #vue-smart-pages-preview a {
    color: black !important;
  }
}

